@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAFF;
    width: 100vw;
    height: 100vh;

}

img {
    width: 100%;
    height: 100%;
    object-fit:contain;
} 

.imgDiv a {
    display: block;
    width: 143px;
    height: 55px;
    margin-top: 41px;
    margin-left: 130px;
}

.imgDiv p {
    width: 872px;
    height: 780px;
    margin-top: 27px;
    margin-left: 86px;
}

.linkDiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: 87px;
    margin-top: 59px;
    width: 100%;
}

.linkDiv a{
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    color: rgba(17, 16, 87, 0.2);
    margin: 0 20px;
}

.linkRegSign::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 69px;
    height: 3px;
    background: #EEBA06;
    display: none;
}

.activeLink::after {
    display: block !important;
}

.activeLink {
    color: #282828 !important;
}

.registerQrImg {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 29px;
}


.registerLogDiv {
    width: 645px !important;
    height: 687px !important;
    background: #FFFFFF;
    border-radius: 13.3333px;
}

.qrText {
    font-weight: normal;
    font-size: 18px;
    padding: 18px 31px;
    width: fit-content;
    background: #CCE1E4;
    border-radius: 10px;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-bottom: 29px;
}

.agreeCondition {
    display: block !important;
    color: #282828;
    opacity: 0.71;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}

.hoverLink {
    color: #EEBA06 !important;
}









