* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
    cursor: context-menu;
    font-family: 'Montserrat' !important;
    background: white;
}

.playlistMain {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    background: #EAEAFF;
    height: 100vh;
    overflow: hidden;
}

.activeInput {
    position: absolute;
    width: 100% !important;
    left: 0;
    top: 228px;
}


.childPlaylist {
    max-width: 1667px;
    margin-left: 195px;
    padding-top: 37px;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 47px;
    background: #00B624;
    border-radius: 9px;
    margin-right: 40px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat' !important;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.refresh img {
    margin-right: 18px;
    width: 16px;
    height: 15.5px;
}

.clock {
    font-weight: 500;
    font-size: 18px;
    margin-right: 40px;
    color: rgba(40, 40, 40, 1);
}

.calendar {
    color: rgba(40, 40, 40, 1);
    font-weight: 500;
    font-size: 18px;
}

.PlaylistChannel {
    display: flex;
    flex-direction: column;
}

.arrowBack {
    display: flex;
    align-items: center;
    color: #282828;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
}

.arrowBack span {
    margin-left: 46px;
    font-weight: 700;
    font-size: 25px;
}

.arrowBack a {
    width: 69.78px;
    height: 69.72px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.arrowBack a img {
    width: 23px;
} 

.refChannel {
    display: flex;
    margin-top: 51px;
}

.refChannel button {
    cursor: pointer;
    outline: unset;
    transition: .3s ease;
    border: none;
    outline: none;
    color: black;
    background: #FFFFFF;
    height: 65px;
    padding: 20px 49px;
    border-radius: 8.71528px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 21.1343px;
}

.refChannel button:nth-child(n+1) {
    margin-right: 30px;
}

.TvChannelBlock {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: 1s !important;
    padding-top: 20px;
}

.parentChild {
    display: flex;
    flex-direction: column;
    width: 212px !important;
    height: fit-content;
    margin-right: 26px;
}

.channelsChild {
    text-decoration: none;
    width: inherit;
    height: 187px;
    border-radius: 15.452px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: none;
    transition: 0.4s;
    border: 2px solid transparent  !important;
}

/* .channelsChild:hover {
    border: 2px solid #00B624;
    transform: translateY(-16px);
    cursor: pointer;
} */

.text {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.TvChannelBlockChild {
    display: none;
}

/* key config */

.hoverRefresh {
    transform: scale(1.1);
    border: 2px solid #00B624  !important;
}

.inputSearchHover {
    border: 2px solid #EEBA06 !important;
    transition: 0.4s  !important;
}

.channelsChildhover {
    border: 2px solid #00B624  !important;
    transform: translateY(-16px) !important;
}

.activeButton {
    background: #4F4DFF !important;
    color: white !important;
}

.formPosition {
    position: absolute;
    left: 195px;
    top: 265px;
    width: 85% !important;
    height: 77px !important;
    outline: none !important;
    border: none !important;
}

.inputseracStyle {
    background-size: 28px 28px !important;
    background-position: 36px !important;
    padding-left: 91px !important;
    width: 100% !important;
    font-size: 26px !important;
}

.scrollUserPage {
    width: fit-content;
    height: 730px;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 34px;
}

/* player */
.videoconteiner {
    width: 100vw;
    height: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: none;
}

#av-player {
    position: absolute;
    width: 100%;
    height:100%;
    display: block;
    left: 0px;
    top: 0;
}

.keyCode {
    font-size: 100px;
    color: #00B624;
}

.sourceButton {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.61;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.play {
    width: 51px;
    height: 59px;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.play svg {
    width: 51px;
    height: 59px;
}

.next {
    width: 42px;
    height: 57px;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.prev {
    width: 42px;
    height: 57px;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.backButton {
    position: absolute;
    top: 45px;
    left: 87px;
    width: 47px;
    height: 47px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    border: none;
    outline: none;
    background-image:url("../images/slackcloseChannel.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* style hovere player */
.backButtonHover {
    transform: scale(1.3) !important;
    border: 2px solid #00B624 !important;
}

.hoverSlack > svg path {
    fill: #00B624;
}

.playIcon {
    display: none !important;
}

.playButtonHover {
    display: flex !important;
}


#anchor {
    width: 50PX;
    height: 50PX;
    background: red;
}


#ddd {
    font-size: 50px;
    color: red;
}