.changingInput {
    margin-bottom: 27px;
}

.confirmnewPassword {
    width: 100%;
    height: 73px;
    border-radius: 10px;
    background: #EEBA06;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #282828;
}

.forgetPassword {
    width: 645px;
    height: 465px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 211px;
    padding:  59px 56px;
    position: relative;
}


/* emulator style */

.inputSearchHover {
    border: 2px solid #EEBA06 !important;
}

.hoverLinkForButton {
    color: white !important;
    background: #4F4DFF !important;
    transition: 0.4s;
}

